.customizer-hidden {
    display: none !important;
}

.customizer-tabs {
    background: #FFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.customizer-tabs a {
    padding: 14px 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    text-align: center;
    display: block;
    white-space: nowrap;
}

.customizer-tabs a.active {
    background: #0073aa;
    color: #FFF;
}

.clearfix:after,
.clearfix:before {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.customize-control-radio {
    padding: 0;
}

.customize-control select {
    width: 98%;
}

.total-plus-accordion-section-title {
    color: #0073aa;
    padding: 12px;
    background: #FFF;
    border-left: 4px solid #0073aa;
    margin: 20px 0 0;
    border-right: 4px solid #0073aa;
    text-align: center;
}

.customize-control-heading .customize-control-description {
    margin: 5px 0 0;
}

.ht-implink {
    background: #0073aa;
    padding: 5px 10px;
    color: #FFF !important;
    text-align: center;
    display: block;
    margin-top: 5px;
    line-height: 1.2;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-style: normal;
    text-decoration: none;
}

.ht-implink:hover {
    background: #000;
}

.customize-control-separator span {
    display: block;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #FFF;
}


/**SWITCH CONTROL*/

.onoffswitch {
    position: relative;
    width: 110px;
    margin-right: 15px;
    overflow: hidden;
    cursor: pointer;
}

.onoffswitch-inner {
    width: 200%;
    margin-left: -100%;
    -webkit-transition: margin .3s ease-in 0s;
    transition: margin .3s ease-in 0s
}

.onoffswitch-inner>div {
    float: left;
    position: relative;
    width: 50%;
    height: 40px;
    padding: 0;
    line-height: 30px;
    font-size: 12px;
    color: #fff;
    font-weight: normal;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.onoffswitch-inner .onoffswitch-active {
    background-color: #FFF;
    color: #FFF
}

.onoffswitch-inner .onoffswitch-inactive {
    background-color: #FFF;
    color: #FFF;
    text-align: right
}

.total-plus-repeater-fields .onoffswitch-inner .onoffswitch-active,
.total-plus-repeater-fields .onoffswitch-inner .onoffswitch-inactive {
    background: #EEE;
}

.onoffswitch-switch {
    width: 50px;
    margin: 0;
    text-align: center;
    border: 0 solid #999;
    border-radius: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: 5px;
}

.onoffswitch-active .onoffswitch-switch {
    background: #3caf0e;
    left: 0
}

.onoffswitch-inactive .onoffswitch-switch {
    background: #7D7D7D;
    right: 0
}

.switch-on .onoffswitch-inner {
    margin-left: 0
}


/*GALLERY CONTROL*/

.gallery-screenshot {
    margin-bottom: 10px;
    margin-left: -5px;
    margin-right: -5px;
}

.gallery-screenshot .screen-thumb {
    width: 50%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 5px;
    float: left;
}

.gallery-screenshot .screen-thumb:nth-child(2n+1) {
    clear: both;
}

.gallery-screenshot .screen-thumb img {
    border: 1px solid #EEE;
    vertical-align: middle;
}

#clear-gallery {
    float: right;
}


/*CHOSEN*/

.chosen-container-single .chosen-single {
    border-radius: 0px;
    height: 28px;
    background: #FFF;
    border-color: #DDDDDD;
    line-height: 28px;
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.06);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.06);
}

.chosen-container-single .chosen-single div b {
    background-position: 0px 4px;
}

.chosen-container-active.chosen-with-drop .chosen-single div b {
    background-position: -18px 4px;
}

.chosen-container-multi .chosen-choices li {
    float: none;
}


/*FontAwesome Icon Styles*/

.total-plus-customizer-icon-box .total-plus-icon-box {
    display: none;
}

.total-plus-customizer-icon-box .total-plus-type-icon {
    overflow: hidden;
}

.total-plus-customizer-icon-box .total-plus-selected-icon {
    background: #F6F6F6;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border: 1px solid #EEE;
    position: relative;
    margin-right: 44px;
    cursor: pointer;
    font-size: 22px;
    width: 60px;
}

.total-plus-customizer-icon-box .total-plus-selected-icon span i {
    display: block;
    line-height: 45px;
}

.total-plus-customizer-icon-box .total-plus-selected-icon span {
    position: absolute;
    background: #F6F6F6;
    right: -45px;
    top: -1px;
    height: 45px;
    width: 45px;
    border: 1px solid #EEE;
    font-size: 16px;
}

.total-plus-customizer-icon-box .total-plus-icon-search {
    padding: 10px;
    background: #f7f7f7;
    border: 1px solid #EEE;
    border-top: 0;
}

.total-plus-customizer-icon-box .total-plus-icon-search select {
    margin-bottom: 10px;
}

.total-plus-customizer-icon-box .total-plus-icon-list {
    height: 215px;
    overflow-y: scroll;
    font-size: 18px;
    border: 1px solid #EEE;
    background: #FFF;
    border-right: 0;
    border-top: 0;
    padding-bottom: 4%;
    display: none;
    cursor: pointer;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.total-plus-customizer-icon-box .total-plus-icon-list:first-of-type {
    display: block;
}

.total-plus-customizer-icon-box .total-plus-icon-list li {
    float: left;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border: 1px solid #EEE;
    border-radius: 3px;
    font-size: 18px;
    margin: 4px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.total-plus-customizer-icon-box .total-plus-icon-list li:hover {
    background: #333;
    border: 1px solid #333;
    color: #FFF;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}

.total-plus-customizer-icon-box .total-plus-icon-list li.icon-active {
    background: #0073aa;
    border: 1px solid #0073aa;
    color: #FFF;
}


/*Repeater Styles*/

.total-plus-repeater-field-control {
    background: #FFF;
    margin-bottom: 12px;
    display: block;
}

.total-plus-repeater-footer {
    margin-top: 15px;
    text-align: right;
}

.total-plus-repeater-field-control:first-child .total-plus-repeater-footer {
    display: none;
}

.total-plus-repeater-field-title {
    padding: 13px 15px;
    line-height: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
    font-size: 1em;
    border: 1px solid #e5e5e5;
    cursor: move;
    position: relative;
    border-bottom: 0;
}

.total-plus-repeater-field-title:after {
    content: "\f142";
    font: 400 20px/1 dashicons;
    position: absolute;
    right: 0;
    top: 0;
    padding: 1px 2px 1px 0;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.total-plus-repeater-field-control.expanded .total-plus-repeater-field-title:after {
    content: "\f140";
}

.total-plus-repeater-fields {
    padding: 0 10px 10px;
    border-top: none;
    line-height: 16px;
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
    display: none;
}

.total-plus-repeater-fields .customize-control-title {
    margin-top: 10px;
}

.total-plus-repeater-field-control.expanded .total-plus-repeater-fields {
    display: block;
}

.total-plus-add-control-field {
    float: right;
}

.total-plus-add-control-field:before {
    content: "\f132";
    display: inline-block;
    position: relative;
    left: -2px;
    top: -1px;
    font: 400 18px/1 dashicons;
    vertical-align: middle;
}

.total-plus-fields textarea {
    width: 100%;
    min-height: 100px;
}

.total-plus-fields select {
    width: 100%;
    min-width: none;
}

.total-plus-fields .attachment-media-view {
    background: none;
}

.total-plus-type-checkbox {
    margin-top: 10px;
}

.total-plus-type-checkbox label {
    line-height: 20px;
    display: block;
    margin-left: 24px;
    padding-top: 6px;
}

.total-plus-type-checkbox input[type=checkbox] {
    margin-right: 8px;
    margin-left: -24px;
}

.selector-labels label {
    display: inline-block;
    padding: 0 10px 10px 0;
    position: relative;
    max-width: 50%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.selector-labels.ht-full-width label {
    display: block;
    max-width: 100%;
    margin-bottom: 10px;
    padding: 0;
}

.selector-labels.ht-half-width label {
    max-width: 50%;
    padding: 0 20px 20px 0;
}

.selector-labels.ht-one-third-width label {
    max-width: 33.33%;
    padding: 0 10px 10px 0;
}

.selector-labels.ht-one-forth-width label {
    max-width: 25%;
    padding: 0 10px 10px 0;
}

.selector-labels label img {
    vertical-align: middle;
}

.selector-labels label.selector-selected:after {
    content: "";
    height: 25px;
    width: 25px;
    right: 0;
    top: 0;
    position: absolute;
    background: url(images/selected.png) no-repeat right top;
}

.total-plus-type-radio .radio-labels label {
    display: block;
    padding: 5px 0;
}

.pt-visual-selector {
    margin-top: 10px;
}

.visual-selector a {
    position: relative;
    display: inline-block;
    margin: 0 10px 0 0;
    outline: 0 !important;
    border: 1px solid #EEE;
}

.visual-selector a img {
    vertical-align: middle;
}

.visual-selector a .selector-tick {
    position: absolute;
    top: -10px;
    right: -10px;
    display: block;
    width: 35px;
    height: 35px;
    background: url(../../images/admin/pt-item-tick-selector.png) no-repeat
}

.total-plus-range-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.total-plus-range-slider .range-input {
    height: 9px;
    position: relative;
    background: #d4d4d4;
    margin: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.total-plus-range-slider .range-input-selector {
    width: 48px !important;
    border-radius: 0px;
    text-align: center;
    height: 32px;
    float: right;
    border-radius: 14px;
    margin-left: 10px !important;
}

.total-plus-range-slider .ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    display: block;
    background: #0073aa;
}

.total-plus-range-slider .ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
    left: 0;
}

.total-plus-range-slider .ui-slider .ui-slider-handle {
    position: absolute;
    top: 0;
    z-index: 2;
    width: 18px;
    height: 18px;
    cursor: pointer;
    background: #EEE;
    border: 2px solid #0073aa;
    border-radius: 7px;
    margin-top: -5px;
    margin-left: -9px;
    cursor: pointer;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.total-plus-range-slider .unit {
    margin-left: 10px;
}

.total-plus-type-icon {
    overflow: hidden;
}

.select-image-wrap {
    margin-top: 20px;
}


/**
 * Alpha Color Picker CSS
 */

.customize-control-alpha-color .wp-color-result span {
    background: #f7f7f7;
}

.customize-control .wp-picker-container input[type="text"].wp-color-picker {
    width: 65px !important;
}

.customize-control .wp-picker-container .wp-color-result.button {
    padding: 0 0 0 30px;
    line-height: 24px !important;
    height: 26px !important;
}

.customize-control .wp-picker-container .wp-color-result-text {
    line-height: 24px !important;
}


/*************** 2. Description Popup ***************/


/*
.customize-control{
  position: relative;
}

#customize-controls .description{
  background: #232323;
  color: #fff;
  cursor: auto;
  font-size: 13px;
  font-style: italic;
  margin-bottom: 0;
  padding: 7px;
  position: absolute;
  right: 30px;
  top: -4px;
  visibility: hidden;
  width: 230px;
  z-index: 999;
}

#customize-controls .checkbox_switch .description{
  width: 214px;
}

#customize-controls .description a{
  box-shadow: none;
  color: #00a0d2;
  outline: 0;
}

#customize-controls .description a:hover,
#customize-controls .description a:active,
#customize-controls .description a:focus{
  box-shadow: none;
  color: #00a0d2;
  outline: 0;
}

#customize-controls .description:hover{
  visibility: visible;
}

#customize-controls .description:before{
  color: #9e9e9e;
  content: "\f348";
  cursor: pointer;
  font-family: 'dashicons';
  font-size: 16px;
  font-style: normal;
  position: absolute;
  right: -30px;
  top: 6px;
  visibility: visible;
}

#customize-controls .description:hover:before{
  color: #232323;
}

#customize-controls .description:after{
  border-bottom: 6px solid transparent;
  border-left: 6px solid #232323;
  border-top: 6px solid transparent;
  content: '';
  display: inline-block;
  height: 0;
  position: absolute;
  right: -6px;
  top: 8px;
  width: 0;
}
*/


/*************** 3. Regular checkbox ***************/

.customize-control-checkbox label {
    margin-left: 0;
}

.customize-control-checkbox input[type="checkbox"],
.customize-control-checkbox-multiple input[type="checkbox"] {
    width: 20px;
    height: 20px;
    background: #fff;
    -webkit-box-shadow: 0 0 1px #bcbcbc inset;
    box-shadow: 0 0 1px #bcbcbc inset;
    border: 0;
    position: relative;
    -webkit-transition: all 150ms ease-in;
    transition: all 150ms ease-in;
}

.customize-control-checkbox input[type="checkbox"]:checked,
.customize-control-checkbox-multiple input[type="checkbox"]:checked {
    -webkit-box-shadow: 0 0 1px transparent inset;
    box-shadow: 0 0 1px transparent inset;
}

.customize-control-checkbox input[type="checkbox"]:checked:before,
.customize-control-checkbox-multiple input[type="checkbox"]:checked:before {
    position: absolute;
    left: 12px;
    top: 7px;
    width: 3px;
    height: 8px;
    border: solid #333;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    content: "";
}


/*************** 5. Toggle - On/Off switch button ***************/

.onoff-switch-title {
    display: inline-block;
    vertical-align: top;
    margin-right: 21px;
    margin-top: -1px;
    width: 70%;
}

.customize-control-checkbox-toggle p {
    margin-bottom: 0;
    margin-top: 5px;
}

.onoff-switch {
    position: relative;
    width: 52px;
    display: inline-block;
    float: right;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoff-switch-checkbox {
    display: none !important;
}

.customize-control-checkbox-toggle .onoff-switch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    height: 22px;
    padding: 0;
    line-height: 19px !important;
    -webkit-transition: background-color 0.2s ease-in;
    transition: background-color 0.2s ease-in;
    border-radius: 30px;
    background-color: #c4c4c4;
    -webkit-box-shadow: inset 0 2px 1px rgba(0, 0, 0, .11);
    box-shadow: inset 0 2px 1px rgba(0, 0, 0, .11);
}

.onoff-switch-label:before {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    margin: 0;
    position: absolute;
    top: 2px;
    bottom: 0;
    right: 32px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .1);
    box-shadow: 0 0 3px rgba(0, 0, 0, .1);
    border-radius: 10px;
    -webkit-transition: all 0.2s ease-in 0s;
    transition: all 0.2s ease-in 0s;
}

.onoff-switch-label:after {
    content: "OFF";
    display: block;
    color: #FFF;
    position: absolute;
    top: 2px;
    bottom: 2px;
    right: 6px;
    font-size: 11px;
    font-family: 'Arial';
}

.onoff-switch-checkbox:checked+.onoff-switch-label {
    background-color: #3caf0e;
}

.onoff-switch-checkbox:checked+.onoff-switch-label,
.onoff-switch-checkbox:checked+.onoff-switch-label:before {
    border-color: #3caf0e;
}

.onoff-switch-checkbox:checked+.onoff-switch-label:before {
    right: 2px;
}

.onoff-switch-checkbox:checked+.onoff-switch-label:after {
    content: "ON";
    display: block;
    color: #FFF;
    position: absolute;
    top: 2px;
    bottom: 2px;
    right: 27px;
    font-size: 11px;
    font-family: 'Arial';
}

.customize-control-info p {
    margin: 0;
}

.mce-floatpanel,
.mce-tooltip {
    z-index: 9999999!important;
}

.customize-pane-parent .control-section .accordion-section-title:before,
#sub-accordion-panel-total_plus_home_panel .control-section .accordion-section-title:before {
    font-family: dashicons;
    content: "\f103";
    font-size: 16px;
    margin-right: 5px;
    vertical-align: middle;
    font-weight: normal;
}

#sub-accordion-panel-total_plus_home_panel #accordion-section-total_plus_slider_section.control-section .accordion-section-title:before {
    content: "\f160";
}

#accordion-panel-total_plus_general_settings_panel .accordion-section-title:before {
    content: "\f111";
}

#accordion-panel-typography .accordion-section-title:before {
    content: "\f464";
}

#accordion-section-colors .accordion-section-title:before {
    content: "\f309";
}

#accordion-panel-total_plus_header_settings_panel .accordion-section-title:before {
    content: "\f212";
}

#accordion-panel-total_plus_home_panel .accordion-section-title:before {
    content: "\f102";
}

#accordion-section-total_plus_blog_options_section .accordion-section-title:before {
    content: "\f119";
}

#accordion-section-total_plus_footer_section .accordion-section-title:before {
    content: "\f212";
}

#accordion-panel-nav_menus .accordion-section-title:before {
    content: "\f333";
}

#accordion-panel-widgets .accordion-section-title:before {
    content: "\f116";
}

#accordion-section-total_plus_social_section .accordion-section-title:before {
    content: "\f237";
}

#accordion-section-custom_css .accordion-section-title:before {
    content: "\f499";
}

#accordion-section-total_plus_maintenance_section .accordion-section-title:before {
    content: "\f321";
}

#accordion-section-total_plus_gdpr_section .accordion-section-title:before {
    content: "\f332";
}

#sub-accordion-panel-total_plus_home_panel .control-section .accordion-section-title:before {
    content: "\f545";
    color: #AAA;
}

.colorpicker,
.gradient-box .gradient-picker {
    z-index: 999999;
}

.gradient-box {
    border: 1px solid #d6d6d6;
    padding: 10px;
}

.gradient-box .gradient-row {
    margin-bottom: 10px;
}

.gradient-box .gradient-label {
    display: block;
    font-size: 13px;
    line-height: 24px;
    font-weight: 600;
    margin-bottom: 4px;
}

.gradient-box .gradient-description {
    display: block;
    font-style: italic;
    line-height: 18px;
    margin-top: 0;
    margin-bottom: 5px;
}

.customize-control .gradient-box .gradient-spread {
    width: 45px;
}

.gradient-box .ClassyGradient {
    width: 238px;
    margin-left: auto;
    margin-right: auto;
}

.gradient-box .ClassyGradient .info {
    width: 180px;
}

.gradient-box .ClassyGradient .info.rightindent .arrow {
    margin-right: 10px;
    margin-left: 0;
    left: auto;
    right: 0
}

.gradient-preview {
    height: 100px;
    width: 100%;
}

.gradient-box .ui-widget-content {
    position: relative;
    background: #CCC;
    border: 0;
    border-radius: 0;
    height: 4px;
}

.gradient-box .ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    display: block;
    background: #0073aa;
    top: 0;
    height: 100%;
    left: 0;
}

.gradient-box .ui-slider-horizontal .ui-slider-handle {
    border: 0;
    height: 18px;
    width: 18px;
    top: -7px;
    margin-left: -9px;
    border-radius: 50%;
    cursor: pointer;
    background: #EEE;
    border: 2px solid #0073aa;
    position: absolute;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    z-index: 2;
}

.gradient-box .gradient-angle-slider {
    margin: 12px 10px 30px;
    background: #CCC
}

.gradient-box .ui-slider-horizontal .ui-slider-handle span {
    position: absolute;
    top: 100%;
    width: 70px;
    text-align: center;
    margin-left: -35px;
    left: 7px;
    font-size: 13px;
}

.customize-control-background-image .attachment-media-view {
    margin-bottom: 6px;
}


/* Toggle Section Control*/

#sub-accordion-panel-total_plus_home_panel .customize-info .customize-panel-description {
    display: block !important;
}

.control-section-toggle-section .total-plus-toggle-section,
.control-section-sidebar .total-plus-toggle-section {
    text-decoration: none;
    margin-right: 10px;
    vertical-align: middle;
}

.control-section-toggle-section .total-plus-toggle-section .dashicons,
.control-section-sidebar .total-plus-toggle-section .dashicons {
    font-size: 16px;
    vertical-align: middle;
}

.total-plus-section-visible .total-plus-toggle-section {
    color: #929292;
}

#customize-theme-controls .accordion-section-title.total-plus-section-hidden,
.total-plus-section-hidden .total-plus-toggle-section,
#sub-accordion-panel-total_plus_home_panel .control-section .total-plus-section-hidden.accordion-section-title:before {
    color: #dcdcdc;
}

.total-plus-toggle-section {
    float: right
}

.total-drag-spinner{
    display: none;
    float: right;
}