/*
Theme Name: BOLD Center
Theme URI: https://rarathemes.com/wordpress-themes/benevolent/
description: Benevolent child theme
Author: SEIU
Author URI: https://rarathemes.com/
Template: benevolent
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: benevolent
Tags: Blog, two-columns, right-sidebar, footer-widgets, education, custom-background, custom-menu, featured-image-header, featured-images, post-formats, threaded-comments, translation-ready, full-width-template, theme-options
*/




/*home page */
.intro .header {
	text-align: inherit;
	max-width: 100%;
	padding: 0 5%;
}

.intro {
	background-image: none !important;
}

.flex-container {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  justify-content: center space-evenly;
}

.wrap    { 
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}  

.flex-item {
  width: 30%;
  margin: 1%;
	}

/*popup*/

.modal {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 4000;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
.bio-text {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 80%;
  padding: 3rem 2rem 2rem 2rem;
  background-color: #fff;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  margin: 3rem auto;
  border-radius: 3px;
  overflow: scroll;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.25);
  transition: all .5s .2s; 
  max-height: 600px;
  }


  
  .modal:target {
    opacity: 1;
    visibility: visible; }
  .modal:target .bio-text {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .modal__close, .modal__close:link, .modal__close:active {
    font-size: 4rem;
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 2rem;
    display: inline-block;
    line-height: 1; }
  .modal__close:hover, .modal__close:focus {
    color: #592d82; }


.bio-text .modal-image {
  float: left;
  margin-right: 2rem;
  max-width: 250px;
}





@media only screen and (max-width: 800px) {
  .flex-item {
  width: 45%;
  margin: 2%;
  }

  .bio-text .modal-image {
  float: none;
  text-align: center;
  margin-bottom: 1rem;
  margin-right: 0;
}


  
}

@media only screen and (max-width: 500px) {
  .flex-item {
  width: 100%;
  margin: 1%;
  }
  
}




/*home bios*/
header.bio {
  text-align: center;
}
.image, .bio-image {
  cursor: pointer;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;

  }

.is-style-circle-mask img {
  border: 3px solid #592d82;  
}





/*resourse page */
.resource-thumb {
  border: 3px solid #592d82;
  }
.wp-block-image figcaption { text-align: center; }



/*header*/
.site-header .header-top, .site-header .header-bottom {
  background-color: #592d82;
  }

.site-header .site-branding .site-title a { color: #ffffff; text-decoration: none; }


/*links*/
a,
a:link,
a:active {
    /*color: #222222;*/
    /*text-decoration: underline;*/
}

a:hover,
a:focus {
    color: #592d82;
}

