.customize-control-typography li.typography-font-weight,
.customize-control-typography li.typography-font-size {
	clear: both;
}

.typography-loading {
	opacity: 0.4;
	pointer-events: none;
}

.typo-slider-range {
	height: 9px;
	position: relative;
	background: #d4d4d4;
	margin: 10px 0px 10px;
}

.typo-slider-range.range-input-selector {
	width: 80px !important;
	margin-right: 10px !important;
	border-radius: 12px;
	text-align: center;
	height: 32px;
}

.typo-slider-range.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	display: block;
	background: #0073aa;
}

.typo-slider-range.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
	left: 0;
}

.typo-slider-range.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 18px;
	height: 18px;
	cursor: default;
	-ms-touch-action: none;
	touch-action: none;
	background: #EEE;
	border: 2px solid #0073aa;
	border-radius: 7px;
	margin-top: -5px;
	margin-left: -9px;
	cursor: pointer;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
